<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styleshit/Style1.css">
</head>
<body>
    <nav class="top-nav">
        <ul class="top-nav-items">
          <li class="top-nav-item-left">
            <p class="top-nav-icon-star">*</p>
            <p class="top-nav-icon-text">JXWT</p>
          </li>
          <li class="top-nav-item-center">
            <a href="/home" class="top-nav-links">Home</a>
            <a href="/products" class="top-nav-links">Products</a>
            <a href="/services" class="top-nav-links">Services</a>
            <a href="/company" class="top-nav-links">Company</a>
          </li>
          <li class="top-nav-item-right">
            <a href="/cart" class="link">
              <span class="material-symbols-rounded top-shopping-cart-icon" style="font-size: 29px">
                shopping_cart
              </span>
            </a>
            <a href="/account" class="link"><span class="material-symbols-rounded top-account-icon" style="font-size: 29px">
                person
              </span></a>
          </li>
        </ul>
      </nav>
      
      <section class="landing-section">
        <div class="noise"></div>
        <div class="landing-hero-image"></div>
        <div class="landing-text-top-section">
          <div class="landing-text-top-left">
            WE COMBINE TRADITIONAL CRAFTSMANSHIP WITH MODERN DESIGN
          </div>
          <div class="landing-text-top-right">
            <h1>
              <sup>01</sup> DISCOVER <i>OUR</i>
              <sub class="landing-text-top-right-sub">Jewelry</sub> COLLECTION
            </h1>
          </div>
        </div>
        <div class="landing-text-bottom"></div>
      </section>
      
      <footer class="ending-section"></footer>
</body>
</html>