<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styleshit/style.css">
</head>
<body>

<div class="content">

    <!-- Home Page -->
    <div class="homepage">

         <!-- Always Use Nav -->
        <nav>
            <h3>Creation</h3>
            <div class="menublock">
                <div class="menu"></div>
                <div class="menu"></div>
                <div class="menu"></div>
            </div>
        </nav>

        <!-- Main Content On Home Page -->
        <div class="photo"><img src="https://img.freepik.com/free-photo/multi-colored-sports-shoe-blue-backdrop-design-generated-by-ai_188544-19749.jpg?size=626&ext=jpg&ga=GA1.1.867424154.1697846400&semt=ais"></div>
        <h1>Desire Meets<br>A New Creation</h1>

        <!-- Bottom Of Home Page -->
        <div class="mainbutton">
            <button type="submit">Buy Now</button>
            <button type="submit">Read More</button>
        </div>
    </div>

    <!-- Product Page -->
    <div class="homepage">
        <nav>
            <h3>Creation</h3>
            <div class="menublock">
                <div class="menu"></div>
                <div class="menu"></div>
                <div class="menu"></div>
            </div>
        </nav>

        <!-- Main Product Section -->
        <div class="image">
            <div class="proimg"></div>
            <div class="des">
            <h4>Product ID:
                <br>XXXX-XXXX
            </h4>
            <br>
            <h4>Description:
                <br>XXXX-XXXX-XXXX-XXXX-XXXX-XXXX-XXXX-XXXX-XXXX-XXXX-XXXX-XXXX
            </h4>
        </div>
        </div>

        <!-- Sub Products  -->
        <div class="subproduct">
            <div class="colorimg"></div>
            <div class="details">
            <p><b>Product One:</b>
                <br>XXXX-XXXX-XXXX-XXXX
            </p>
            <button type="submit" id="subbutton">Read More</button>
            </div>
        </div>
        <div class="subproduct">
            <div class="colorimg"></div>
            <div class="details">
            <p><b>Product One:</b>
                <br>XXXX-XXXX-XXXX-XXXX
            </p>
            <button type="submit" id="subbutton">Read More</button>
            </div>
        </div>

    </div>

    <!-- Third Home Page  -->
    <div class="homepage">
         <!-- Always Use Nav -->
         <nav>
            <h3>Creation</h3>
            <div class="menublock">
                <div class="menu"></div>
                <div class="menu"></div>
                <div class="menu"></div>
            </div>
        </nav>

        <!-- Check Out Section -->
        <h2>Check Out</h2>
        <div class="pay">
            <div class="payproduct"></div>
            <div class="payemtdetails">
                <pre><b>Product Price</b>     $100.00</pre>
                <pre><b>Shipping</b>           $30.00</pre>
                <div class="underline"></div>
                <pre>Total             $130.00</pre>
            </div>
        </div>


        <!-- Contact Details  -->
        <h2>Contact Details</h2>
        <form action="action.js">
            <input type="email" name="Email" id="Eamil" placeholder="Email ID">
            <br>
            <input type="number" name="cardno" id="cardno" placeholder="Card Information">
            <br>
            <input type="password" name="pass" id="pass" placeholder="Password">
            <br>
            <button type="submit" id="login">Login</button>
     </form>
    </div>

</div>


</body>
</html>